
.game-container{
    grid-area: c;
    background-color: $tertiary-color ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    font-family: $main-font;

    // grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    // grid-auto-rows: 94px;
    // grid-gap: 20px;
  
    
    color: antiquewhite;   

}
