
.game{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: $secondary-color;
  font-size: 15px;
  font-family: $main-font;
 

}

.ranking-flex{
  display: flex;
 flex-direction: column;
}

.button{
  font-family: $main-font
}