
.header-menu{
    grid-area: b;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
   
    font-family: $main-font;
    color: $main-font-color;

}