.side-bar{
    grid-area: a;
    background-color: $secondary-color;
   
    flex-direction: row;
    align-content: center;
    font-family: $main-font;
    color: white;

}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }